
    <h1>contact</h1>
    <form>
        <div class="textform">
            <input type="text" name="name" id="fn" placeholder="FULL NAME">
            <input type="email" name="email" id="em" placeholder="E-MAIL">
            <input type="text" name="subject" id="subject" placeholder="SUBJECT"> </div>
        <textarea name="comments" id="comments" rows="5" placeholder="COMMENTS"> </textarea>
        <input type="submit" id="send" name="SEND" value="SEND"> 
        </form>
    <div class="feedback"> </div>
