
        <div class="article-1">
            <h2>value of money</h2>
            <figure> <img src="./img/leaf.jpg" alt="image"> </figure>
            <p>The value of money is depreciating. I believe that we should revery back to a barter system. This was a much more honest means of exchaning goods for services. The monetary value associate with money, and social value associated, imposes and genreates a divisive society.</p>
        </div>
        <div class="article-2">
            <h2>gmo's</h2>
            
            <p>Genetically modified organisms are a touchy subject. On one hand, they are scientists gift to mankind, as we are multiplying at such a rapid rate, we also need to increase food production, and yield production. However, the negative implications associate with gmo's are that we are slowly losing the "real" products. For example, the bananas we eat today, are just science's best guess at what a REAL banana tastes like.</p>
        </div>
        <div class="article-3">
            <h2>the world in 2100</h2>
            
            <p> The world in 2100 will be scary place. If the world even exists in 2100, it will be highly militarized, and will resemble ww2. There will also be teleportation, and people will have the ability to fly. </p>
        </div>
